<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
        <div class="container__container-title">
          常連さん
        </div>
        <div class="col-12">
          <div class="container__container-sutitle">
            おいしいって幸せだ。<br />
            あなたのオススメのお店を教えてください。<br />
          </div>
        </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
