/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// フォント・字体変更
@font-face {
  font-family: '03UI';
  src: font-url('03UI.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.flash {
  color:green;
}

.danger {
  color:red;
}

.size{
  color:gray;
}

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

header {
  background-color: #fff;
  color: #000;
  font-family: '03UI';
}

footer{
  width: 100%;
  color: #000;
  text-align: center;
  padding: 30px 0;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

// ハンバーガーメニュー
.navbar-toggler {
  background-color: #808080;
}


input, p {
  font-family: serif;
}

select{
  font-family: serif;
	border :2px solid #EEEEEE;
	font-size :17px;
}

li{
  list-style:none;
  margin:0px 20px;
  font-size: 20px;
}

.regular_san{
  color: #000;
  background-color: #fff;
  font-size: 32px;
  text-decoration: none !important;
}

.po{
  color: #000;
  background-color: #fff;
  font-size: 20px;
  text-decoration: none !important;
}

a:hover{
  color: #555;
  text-decoration: none !important;
}

nav{
  background-color: #fff;
  color: #000;
}

body{
  font-family: serif;
}

// 見出し・タイトル
.heading {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #DDFFFF;
}
.heading:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

// ユーザー新規登録・ログイン画面
.heading_new{
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #EEFFFF;
}
.heading_new:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 3px solid #000;
}
// TOPランキング
.heading_ranking{
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #FFAD90;
}
.heading_ranking:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 3px solid #000;
}

// ページネーション
.pagination {
  justify-content: center;
  background-color: #f8f9fa;
  margin: 50px;
}

// お店新規登録・ユーザー新規登録・ログイン = フォーム
input[type="text"] {
        width: 300px;
        height: 40px;
    }
input[type="email"] {
        width: 300px;
        height: 40px;
    }
input[type="password"] {
        width: 300px;
        height: 40px;
    }
textarea {
  resize: none;
  width: 300px;
  height: 100px;
}
.fo{
  size: 50px;
}

// バリデーション　エラーメッセージ
.notice {
  color: #000;
  background-color: #5BFF7F;
  margin: 0px 20px 10px;
}
.success {
  color: #000;
  background-color: #CCFFCC;
  margin: 0px 20px 10px;
}
.danger {
  color: #000;
  background-color: #FADBDA;
  margin: 0px 20px 10px;
}


// レビューランキング　文字サイズ
.rate-rank{
  font-size: 35px;
}

// コメント・レビューのエラーメッセージ
#error_comment li {
  font-size: 13px;
}

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
  @extend .alert-danger;
}

// アカウント紹介文、文字数指定エラーメッセージ（restaurant[new, edit]）
.user-error{
  background-color: #FADBDA;
}

// ページのトップに戻るボタン
.top-btn {
  position:   fixed;
  right:      30px;
  bottom:     40px;
}
.top-btn a {
  width:      50px;
  height:     50px;
}